<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/">Home</a></li>
    <li class="active"><a ng-href="#/projects">Projects</a></li>
    <li><a ng-href="#/login">Login</a></li>        
  </ul>
  <h3 class="text-muted">spar</h3>
</div>
<!-- back button -->
<div class="row">
  <a class="btn btn-info" href="#/projects" class="btn">Back</a>
</div>
<!-- Project info -->
<div class="row">
  <h2>Project</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Project</th>
      <th>Description</th>
      <th>Site</th>
    </tr>
    </thead>
    <tbody>
      <td>{{project.name}}</td>
      <td>{{project.description}}</td>
      <td>{{project.site}}</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- Project Teams -->
<div class="row">
  <h2>Teams</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in teams" ng-show="team._id.$oid">
      <td>{{team.name}}</td>
      <td>
        <pre>
          <p ng-repeat="member in members[team._id.$oid]" ng-show="member._id.$oid">{{member.name}}</p>
        </pre>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div class="footer">
  <p>Spar</p>
</div>  