<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/">Home</a></li>
    <li class="active"><a ng-href="#/projects">Projects</a></li>
  </ul>
  <h3 class="text-muted">spar</h3>
</div>

<!-- back button -->
<div class="row">
  <a class="btn btn-info" href="#/projects" class="btn">Back</a>
</div>

<!-- Project info -->
<h2>Project</h2>
<div class="row">
  <form name="myForm">
    <div class="control-group" ng-class="{error: myForm.name.$invalid}">
      <label>Name</label>
      <input type="text" name="name" ng-model="project.name" required>
      <span ng-show="myForm.name.$error.required" class="help-inline">
          Required</span>
    </div>

    <div class="control-group" ng-class="{error: myForm.site.$invalid}">
      <label>Website</label>
      <input type="url" name="site" ng-model="project.site" required>
      <span ng-show="myForm.site.$error.required" class="help-inline">
          Required</span>
      <span ng-show="myForm.site.$error.url" class="help-inline">
          Not a URL</span>
    </div>

    <label>Description</label>
    <textarea name="description" ng-model="project.description"></textarea>

    <br>
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
            class="btn btn-primary">Save</button>
    <button ng-click="destroy()"
            ng-show="project._id" class="btn btn-danger">Delete</button>
  </form>
</div>

<!-- project teams -->
<h2>Teams</h2>
<div class="row" ng-repeat="team in teams" ng-show="team._id.$oid">
  <!-- start team -->
    Team name:<input type="text" name="name" ng-model="team.name">
    <button ng-click="saveTeam(team)" class="btn btn-success"> Save</button>
    <button ng-click="deleteTeam(team)" class="btn btn-danger">Delete</button>
  <!-- end team -->
  <!-- start member loop -->
  <div class="row" ng-repeat="member in members | filter:{teamId:team._id.$oid}" ng-show="member._id.$oid">
    <div class="col-md-3">
      Member: {{member.name}}
    </div>
    <div class="col-md-5">
      Role:<input type="text" name="role" ng-model="member.role" typeahead="suggestion for suggestion in searchMemberRoles($viewValue)">
    </div>
    <div class="col-md-3">
      <button ng-click="saveMember(member)" class="btn btn-success"> Save</button>
      <button ng-click="deleteMember(member)" class="btn btn-danger">Delete</button>
    </div>
  </div>
  <!-- end member loop -->
  <!-- add member -->
  <div class="row">
    <div class="col-md-9">
      Add new member:
      <input autocomplete="off" ng-model="newMember.person" type="text" placeholder="Name..."
      typeahead="person as person.name for person in searchPeople($viewValue)"/>
      <input autocomplete="off" ng-model="newMember.role" type="text" placeholder="Role..."
      typeahead="suggestion for suggestion in searchMemberRoles($viewValue)"/Z>
    </div>
    <div class="col-md-3">
      <button ng-click="addMember(team, newMember)" class="btn btn-info"> Add</button>
    </div>
  </div>
  <!-- end add member -->
</div>
<div class="row">
    Create Team:<input type="text" name="name" ng-model="newTeam.name">
    <button ng-click="createTeam(newTeam)" class="btn btn-info"> Add</button>
</div>




<div class="footer">
  <p>Spar</p>
</div>  